certifi==2025.7.9
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
idna==3.10
lxml==6.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.2
pandas==2.3.1
pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rich==14.0.0
shellingham==1.5.4
six==1.17.0
typer==0.16.0
typing-extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
